[Desktop Entry]
Type=Application
Name=Studio Brightness
Comment=Brightness control for Apple Cinema, Thunderbolt and Studio displays
Exec=studio-brightness-gui
Icon=io.github.mfat.StudioBrightness
Categories=Settings;HardwareSettings;GTK;
Keywords=brightness;apple;cinema;display;monitor;
StartupNotify=true
